@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Noto+Serif:ital,wght@0,900;1,900&family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,103.1,200..1000;1,6..12,103.1,200..1000&family=Poppins:wght@600&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

body {
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  /* font-size: 14; */
  /* line-height: 20px; */
}
/* navBar start */
.navBar {
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 10;
  background-color: #ff7b00f1;
}
.navBar .logoText {
  margin-top: 0.1%;
  font-size: 180%;
  margin-left: 2%;
  line-height: 84%;
  font-weight: 700;
  color: wheat;
  opacity: 1;
}
.navBar .logoText:hover {
  color: #4f1002e4;
  text-transform: uppercase;
}
.navBar .nav {
  list-style: none;
  text-decoration: none;
  /* color: #923f07; */
}
.navBar .nav a {
  font-size: 2.5rem;
  margin-right: -1%;
  font-weight: 600;
  gap: 40%;
  margin-left: 2rem;
  color: #3e1006e4;
}
.navBar .nav a:hover {
  color: wheat;
}
/* navBar end */

/* home start */
.home {
  width: 100%;
  background-image: url(images/coffee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 5;
  padding-top: -25%;
  width: 100%;
  min-height: 70rem;
  display: flex;
}
.home h2,
span,
h4 {
  text-transform: uppercase;
  display: grid;
}
.home h2 {
  font-size: 240%;
  font-weight: 700;
  display: block;
  color: aliceblue;
  font-style: italic;
  margin-top: 230%;
  padding-left: 105%;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.home .heading {
  display: flex;
  width: 100%;
  font-size: 500%;
  margin-top: 35%;
  font-style: italic;
  padding-left: 2%;
  padding-bottom: 2%;
  font-weight: 900;
  color: wheat;
  /* text-transform: uppercase; */
  letter-spacing: 0.3rem;
  padding-bottom: 0.5rem;
}
.home .tagLine {
  width: 100%;
  font-size: 250%;
  font-weight: 900;
  text-transform: capitalize;
  color: rgb(235, 169, 169);
  margin-left: -70%;
  margin-top: 40%;
}
/* home end */

/* about start */
.about {
  padding-top: -1%;
  display: flex;
  width: 100%;
  background-color: #fa9069;
  padding-bottom: 1.5%;
}
.about .right h3 {
  display: flex;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  padding-left: 34%;
  padding-top: 5%;
  color: rgb(120, 19, 19);
  text-transform: capitalize;
  padding-bottom: 0.2%;
}
.about .right p {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  padding-left: 25%;
  line-height: 100%;
  color: rgb(120, 19, 19);
  padding-bottom: 1.3%;
  text-transform: none;
}
.about .right img {
  align-items: center;
  justify-content: center;
  padding-left: 32%;
  padding-top: -5%;
  padding-bottom: 1%;
}
.about .left {
  width: 45%;
  padding-top: 3%;
  margin-left: -10%;
}
.about .left img {
  display: flex;
  width: 130%;
  padding-top: 2%;
}
.about .left .img1 {
  padding-left: 48%;
  margin-left: 40%;
}
/* about end */

/* menu start */
.menu {
  width: 100%;
  background-color: #fcc19c;
}
.menu .sec h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 5.3rem;
  font-weight: 800;
  color: #6f4e37;
}
.menu .sec .break {
  margin-left: 41%;
  max-width: 100%;
  margin-right: auto;
  padding-bottom: 1.2%;
}
.menu .sec p {
  margin-left: 2%;
  margin-right: 8%;
  padding-bottom: 1.5%;
  font-weight: 400;
  font-size: 150%;
  line-height: 130%;
}
.menu .box {
  overflow: hidden;
  padding-left: 2%;
}
.menu img {
  border-radius: 50%;
  max-width: 13%;
  cursor: pointer;
  opacity: 1;
}
.menu .content h3 {
  display: flex;
  color: black;
  margin-top: 4%;
  margin-left: 3%;
  left: 12%;
}
.menu .content h3 {
  color: black;
  font-size: 250%;
  font-weight: 800;
}
.menu .beverages .box {
  width: 100%;
  height: 100%;
}
.menu .beverages .box .coffee img {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
}
.menu .beverages .box .coffee {
  font-size: 2.5rem;
  color: black;
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 10%;
  text-transform: capitalize;
}
.menu .beverages .box .coffee1 p {
  font-size: 2.3rem;
  padding-left: 2%;
}
.menu .beverages .box .coffee .capeccino {
  margin-top: -20%;
  margin-left: 30%;
}
.menu .beverages .box .coffee .Capeccino {
  font-size: 2.5rem;
  color: black;
  margin-top: 4.5%;
  margin-left: 30%;
  text-transform: capitalize;
}
.menu .beverages .box .coffee .Capeccino p {
  font-size: 2.3rem;
  padding-left: 2%;
}
.menu .beverages .box .coffee .espresso {
  margin-top: -20%;
  margin-left: 59%;
}
.menu .beverages .box .coffee .Espresso {
  font-size: 2.5rem;
  margin-top: 5.5%;
  margin-left: 60%;
}
.menu .beverages .box .coffee .Espresso p {
  font-size: 2.3rem;
  padding-left: 4%;
}
.menu .beverages .box .tea {
  font-size: 2.5rem;
  color: black;
  padding-top: -20%;
  padding-left: 2%;
  text-transform: capitalize;
}
.menu .beverages .box .tea {
  overflow: hidden;
  margin-top: -5%;
}
.menu .beverages .box .tea1 h3 {
  margin-left: 4%;
}
.menu .beverages .box .tea1 p {
  font-size: 2.3rem;
  padding-left: 2%;
}
.menu .meal img {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
}
.menu .meal {
  font-size: 2.5rem;
  color: black;
  margin-top: 4%;
  margin-left: 3%;
  text-transform: capitalize;
}
.menu .meal .Pizza p {
  font-size: 2.3rem;
  padding-left: 2%;
}
.menu .meal .burger {
  max-width: 8%;
  margin-top: -14%;
  margin-left: 30%;
}
.menu .meal .Burger {
  margin-left: 27%;
}
.menu .meal .Burger p {
  font-size: 2.3rem;
  padding-left: 8%;
}
.menu .dessert img {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
}
.menu .dessert {
  font-size: 2.5rem;
  color: black;
  margin-top: 4%;
  margin-left: 3%;
  text-transform: capitalize;
}
.menu .dessert .Brownie {
  max-width: 7%;
  margin-top: 1%;
  margin-left: 2%;
}
.menu .dessert .Brownie {
  margin-top: -0.5%;
  padding-left: -4%;
}
.menu .dessert .Brownie p {
  font-size: 2.3rem;
  padding-left: -4%;
}
.menu .dessert .cake {
  max-width: 20%;
  margin-top: -17%;
  margin-left: 30%;
}
.menu .dessert .cheeseCake {
  padding-left: 30%;
}
.menu .dessert .cheeseCake p {
  font-size: 2.3rem;
  padding-left: 8%;
}
/* menu end */

/* table booking start */
.reservation {
  text-align: center;
  background-color: #f8e2a0;
  padding-top: 2%;
  padding-bottom: 2%;
  background-attachment: fixed;
}
.reservation h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 5.3rem;
  font-weight: 800;
  color: #6f4e37;
  padding-top: 2%;
  padding-bottom: 0.5%;
}
.reservation .break {
  padding-bottom: 1.2%;
}
.reservation form {
  width: 100%;
}
input {
  width: 70%;
  padding: 10%;
  margin: 20% 0;
  border-radius: 5%;
  font-size: 1.2rem;
}
select {
  width: 70%;
  padding: 1%;
  margin: 2% 0;
  border-radius: 4%;
  font-size: 1.2rem;
}
button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #ff7f50;
  padding: 1% 2%;
  border-radius: 10%;
  font-size: 1.6rem;
  border: none;
  transition: all ease 0.3s;
}
button:hover {
  background-color: #8f4204ad;
}
/* table booking end */

/* contacts start */
.contacts {
  text-align: center;
  background-color: #e8b185;
  padding-bottom: 2%;
  padding-top: 2%;
  background-attachment: fixed;
}
.contacts h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 5.3rem;
  font-weight: 800;
  color: #6f4e37;
  padding-top: 2%;
  padding-bottom: 0.5%;
}
.contacts .break {
  padding-bottom: 1.2%;
}
.contacts .contactsInfo p {
  font-size: 1.4rem;
  padding-bottom: 1.2%;
  text-transform: none;
}
.contacts .contactsInfo ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.contacts .contactsInfo li {
  margin: 0 4%;
  font-size: 1.4rem;
  padding-right: 5%;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  text-transform: none;
}
.contacts .contactsInfo li a {
  text-decoration: none;
  margin-left: 10%;
  gap: 1%;
  color: black;
}
.contacts .contactsInfo i {
  font-size: 124%;
}
.contacts form {
  width: 100%;
}
input,
textarea {
  width: 70%;
  padding: 1%;
  margin: 1% 0;
  border-radius: 3%;
  font-size: 1.2rem;
}
textarea {
  height: 20%;
}
form button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #ff7f50;
  padding: 1% 2%;
  border-radius: 10%;
  font-size: 1.6rem;
  border: none;
  transition: all ease 0.3s;
}
form button:hover {
  background-color: #8f4204ad;
}
/* contacts end */

/* footer start */
footer {
  background-color: #f8e2a0;
  width: 100%;
  padding-top: 1%;
}
.social-icons {
  margin-left: 5%;
  padding-bottom: 1%;
}
.social-icons a {
  color: black;
  font-size: 240%;
}
.social-icons a:hover {
  color: rgb(12, 97, 246);
  font-size: 240%;
}
.social-icons a .ri-instagram-line:hover {
  color: rgb(255, 1, 196);
}
footer p {
  margin-left: 5%;
  font-size: 200%;
}
/* footer end */

/* Responsive */
@media (max-width: 760px) {
  html {
    font-size: 40%;
    width: 100%;
  }
  .navBar .nav a {
    font-size: 50%;
    font-weight: 600;
    gap: 10%;
    /* margin-left: 2%; */
    .navBar .nav {
      position: fixed;
      top: 0;
      right: -10%;
      width: 100%;
      background: white;
      height: 200%;
      display: none;
    }
  }
  .home h2{
    padding-top: 90%;
  }
  .home .heading{
    padding-left: 7%;
    padding-top: 10%;
  }
  .home .tagLine{
    padding-top: 10%;
  }
  .about p {
    margin-right: 20%;
  }
  .about h3 {
    margin-left: 10%;
  }
  .about .right img {
    margin-left: -4%;
  }
  .menu .sec .break {
    margin-left: 27%;
  }
}

@media (max-width: 530px) {
  html {
    font-size: 40%;
    width: 100%;
  }
  .navBar .nav a {
    font-size: 50%;
    font-weight: 700;
    gap: 5%;
    .navBar .nav {
      position: fixed;
      top: 0;
      background: white;
      height: 200%;
      display: none;
    }
  }
  .home .tagLine{
    margin-top: -40%;
  }
  p {
    font-size: 25%;
  }
  .about {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
  }
  .about .right img {
    padding-left: -20%;
  }
  .about .right .img1 {
    margin-left: -40%;
    padding-top: 10px;
  }
  .about .right p {
    margin-left: -5%;
    margin-right: 28%;
    padding-top: 10px;
  }
  .about .left {
    margin-left: -45%;
  }
  .menu {
    display: grid;
  }
  .menu p {
    margin-right: 20%;
  }
  .menu .sec .break img {
    margin-right: -3%;
  }
  .about .right img {
    margin-right: -3%;
  }
  .menu .sec .break {
    align-items: center;
    justify-content: center;
  }
  .menu .dessert .Brownie{
    padding-top: -40%;
  }
  .about, .menu, .reservation, .contacts, footer {
    margin-right: -3%;
  }
}
